<div class=title>
    <div class="display">
        <app-time-display [inputData]="present">
            <h1>
                룰루랄라
            </h1>
        </app-time-display>
        <!-- <app-buttons (clickEvent)="startTime($event)"></app-buttons>

        {{ commandText }}
        <app-buttons (clickEvent)=" commandText = $event"></app-buttons> -->


        <!--   // 라우터가 이동하기 위해서는 두가지 방법이 있다.
                // 1. a 태그 안에 property 값을 넣는다.

                // router link 안에 슬래시가 없으면 에러가 난다.

                // 2. 라우터 프로바이더  // 라우터가 이동하기 위해서는 두가지 방법이 있다.
                // 1. a 태그 안에 property 값을 넣는다.

                // router link 안에 슬래시가 없으면 에러가 난다.

                // 2. 라우터 프로바이더-->
        <br><br>
                <button (click)="goClock()">시계로 이동</button>
    </div>

    <!-- <a [routerLink]="'/clock'">시계로 이동</a> -->


    <!-- <button (click)="pageToggleService.plusCount()">숫자 확인 테스트</button>

    {{ pageToggleService.routingCount }} -->


</div>